$accordion-border-radius: 5px !default;
$accordion-color-light: #cacaca !default;
$accordion-color-dark: #898989 !default;
$accordion-item-margin: 0 0 0 0 !default;
$accordion-padding-h: 1rem !default;
$accordion-padding-v: 1rem !default;

.c-accordion {
  border: 1px solid $accordion-color-dark;
  border-radius: $accordion-border-radius;

  &__content {
    border-top: 1px solid $accordion-color-light;
    padding: $accordion-padding-v $accordion-padding-h;
  }

  .c-accordion__item {
    border-bottom: 1px solid $accordion-color-light;
    margin: $accordion-item-margin;

    &:last-child {
      border-bottom: none;
    }

    &.-active {
      .c-accordion__title {
        background-color: $accordion-color-light;
      }
    }
  }

  &__title {
    border-radius: $accordion-border-radius $accordion-border-radius 0 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: $accordion-padding-v $accordion-padding-h;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
  }
}
