@import '~bootstrap/scss/bootstrap.scss';

main {
  padding-top: 20px;
  font-size: 20px;

  section {
    margin-top: 2rem;
  }
}

.custom {
  .c-accordion {
    border: none;

    &__item {
      border: none;
      margin-bottom: 0.5rem;
    }

    &__title {
      border: 1px solid $border-color;
      color: #1d5479;

      h4 {
        margin: 0;
      }
    }

    .active {
      .c-accordion__title {
        background-color: #eaf4fa;
      }
    }
  }
}
