@import '~bootstrap/scss/bootstrap.scss';
@import '../../../lib/assets/accordion.scss';

main {
  padding-top: 20px;
  font-size: 20px;

  section {
    margin-top: 2rem;
  }
}

.custom {
  .c-accordion {
    border: none;

    &__content {
      border: none !important;
      padding: 1rem 0;
    }

    &__item {
      border: none;
      margin-bottom: 0.5rem;
    }

    &__title {
      border: 1px solid #ddd !important;
      border-radius: 0;
    }

    .-active {
      .c-accordion__title {
        background-color: #eaf4fa;
        border: none !important;
        color: #1d5479;
      }
    }
  }
}

.custom2 {
  .c-accordion {
    border: none;

    &__item {
      border: 1px solid #1d5479;
      border-radius: 5px;
      margin-bottom: 0.5rem;

      &:last-child {
        border: 1px solid #1d5479;
      }
    }

    &__title {
      border-radius: 5px 5px 0 0;
    }

    .-active {
      .c-accordion__title {
        background-color: #eaf4fa;
        color: #1d5479;
      }
    }
  }
}
